

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #21519a;
    color: #fff;
  }
  
  .logo img {
    width: 180px;
  }
  
  .nav {
    display: flex; 
  }
  
  .nav div {
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease; 
  }
  
  .nav div:hover {
    color: #ffcc00; 
  }
  
  
  .nav div::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; 
    transition: background-color 0.3s ease; 
  }
  
  .nav div:hover::after {
    background-color: #ffcc00; 
  }
  